<!-- Компонент выбора юрлица -->
<div class="legal-entity-block">
    <label for="legal-entity" class="legal-entity-label">Юрлицо</label>
    <select id="legal-entity" class="legal-entity-select">
        <option value="all">Все Юрлица</option>
        <option value="os">ОС</option>
        <option value="hi">ХИ</option>
        <option value="terranet">Терранэт</option>
    </select>
</div>